<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @miniature.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @miniature.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @miniature.user %>
</p>

<ul>
  <% @miniature.pictures.each do |picture| %>
    <li>
      <%= image_tag picture.variant(resize: "100x100!") %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_miniature_path(@miniature) %> |
<%= link_to 'Back', miniatures_path %>
